/*GENERAL*/
body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.bg-section{
    background-color: #000;
}
/*FIN GENERAL*/

/*CAROUSEL*/
.carousel-item{
    height: 100vh;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: rgb(223, 39, 39);
    text-decoration: underline;
}

/*FIN CAROUSEL*/

/*QUIENES SOMOS*/
.titulo-somos{
    color: #fff;
    font-size: 28px;
}
.contenedor-icon{
    background-color: #47B5FF;
    width: 100%;
    display: block;
    padding: 6px 0px;
    text-align: center;
    color: #fff;
}
.texto-somos{
    color: #fff;
    text-align: justify;
}
/*FIN QUIENES SOMOS*/


/*DESTACADOS*/
.titulo-destacados{
    color: #fff;
    font-size: 28px;
}
.card{
    background-color: #06283D;
    color: #fff
}
.card-title{
    color: #47B5FF;
    font-weight: bold;
}
/*FIN DESTACADOS*/


/*CONTACTO*/
.form-label{
    color: #fff;
}
.titulo-contacto{
    color: #fff;
}
.btn-primary{
    background-color: #06283D;
    border: #06283D solid 1px;
    padding:8px 25px;
}
.btn-primary:hover{
    background-color: rgb(223, 39, 39)!important;
    border: solid 1px rgb(223, 39, 39)!important;;
}
/*FIN CONTACTO*/

/*FOOTER*/
.bg-footer{
    background-color: #06283D;;
}
.titulo-footer{
    color: #fff;
}
.container-icons{
    color: #fff;
}
.container-icons span i{
    font-size: 30px;
    padding: 8px;
    background-color: #fff;
    color: #06283D;
}
.container-icons span a i:hover{
    background-color: #47B5FF;
}
/*FIN FOOTER*/

/*MEDIA QUERY*/

@media (max-width: 600px) {
    .carousel-item{
        height: auto;
    }
  }

/*FIN MEDIA QUERY*/